# Problem statement 1:
Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/

Rename the columns as per the description from this file:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

In [185]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import sqlite3 as db

adultDf = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
#Rename columns
adultDf.columns =['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours_per_week','native-country','label']

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# 1.Select 10 records from the adult sqladb

In [186]:
query = "SELECT * FROM adultDf limit 10;"
pysqldf(query)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours_per_week,native-country,label
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

# 2.Show me the average hours per week of all men who are working in private sector

In [187]:
query = "SELECT avg(hours_per_week) FROM adultDf WHERE sex = ' Male' and workclass =' Private';"
pysqldf(query)

   avg(hours_per_week)
0            42.221226

# 3. Show me the frequency table for education, occupation and relationship, separately

In [188]:
#Frequency table for education
query = "SELECT  education, count(education) as frequency from adultDf group by education order by frequency desc;"
pysqldf(query)

        education  frequency
0         HS-grad      10501
1    Some-college       7291
2       Bachelors       5354
3         Masters       1723
4       Assoc-voc       1382
5            11th       1175
6      Assoc-acdm       1067
7            10th        933
8         7th-8th        646
9     Prof-school        576
10            9th        514
11           12th        433
12      Doctorate        413
13        5th-6th        333
14        1st-4th        168
15      Preschool         51

In [189]:
#Frequency table for occupation
query = "SELECT  occupation, count(occupation) as frequency from adultDf group by occupation order by frequency desc;"
pysqldf(query)

            occupation  frequency
0       Prof-specialty       4140
1         Craft-repair       4099
2      Exec-managerial       4066
3         Adm-clerical       3769
4                Sales       3650
5        Other-service       3295
6    Machine-op-inspct       2002
7                    ?       1843
8     Transport-moving       1597
9    Handlers-cleaners       1370
10     Farming-fishing        994
11        Tech-support        928
12     Protective-serv        649
13     Priv-house-serv        149
14        Armed-Forces          9

In [190]:
#Frequency table for relationship
query = "SELECT  relationship, count(relationship) as frequency from adultDf group by relationship order by frequency desc;"

pysqldf(query)

      relationship  frequency
0          Husband      13193
1    Not-in-family       8304
2        Own-child       5068
3        Unmarried       3446
4             Wife       1568
5   Other-relative        981

# 4. Are there any people who are married, working in private sector and having a masterâ€™s degree

In [195]:
query = """SELECT count(*) as People FROM adultDf WHERE "marital-status" 
like " Married-%" and workclass =' Private' and education=' Masters'"""
pysqldf(query)

   People
0     540

# 5. What is the average, minimum and maximum age group for people working in different sectors

In [192]:
query = "SELECT workclass, avg(age) as Avg_Age,min(age) as Min_Age,max(age) as Max_age FROM adultDf GROUP BY workclass;"
pysqldf(query)

           workclass    Avg_Age  Min_Age  Max_age
0                  ?  40.960240       17       90
1        Federal-gov  42.590625       17       90
2          Local-gov  41.751075       17       90
3       Never-worked  20.571429       17       30
4            Private  36.797585       17       90
5       Self-emp-inc  46.017025       17       84
6   Self-emp-not-inc  44.969697       17       90
7          State-gov  39.436392       17       81
8        Without-pay  47.785714       19       72

# 6. Calculate age distribution by country

In [196]:
query = """SELECT [native-country], Round(Round((count(age)*100),5)/Round((select COUNT(age) 
from adultDf),5),5) as "Age Distribution"  FROM adultDf group by [native-country] order by count(age) desc;"""
pysqldf(query)

                 native-country  Age Distribution
0                 United-States          89.58538
1                        Mexico           1.97482
2                             ?           1.79054
3                   Philippines           0.60811
4                       Germany           0.42076
5                        Canada           0.37162
6                   Puerto-Rico           0.35012
7                   El-Salvador           0.32555
8                         India           0.30713
9                          Cuba           0.29177
10                      England           0.27641
11                      Jamaica           0.24877
12                        South           0.24570
13                        China           0.23034
14                        Italy           0.22420
15           Dominican-Republic           0.21499
16                      Vietnam           0.20577
17                    Guatemala           0.19656
18                        Japan           0.19042
19                       Poland           0.18428
20                     Columbia           0.18120
21                       Taiwan           0.15663
22                        Haiti           0.13514
23                         Iran           0.13206
24                     Portugal           0.11364
25                    Nicaragua           0.10442
26                         Peru           0.09521
27                       France           0.08907
28                       Greece           0.08907
29                      Ecuador           0.08600
30                      Ireland           0.07371
31                         Hong           0.06143
32                     Cambodia           0.05835
33              Trinadad&Tobago           0.05835
34                         Laos           0.05528
35                     Thailand           0.05528
36                   Yugoslavia           0.04914
37   Outlying-US(Guam-USVI-etc)           0.04300
38                     Honduras           0.03993
39                      Hungary           0.03993
40                     Scotland           0.03686
41           Holand-Netherlands           0.00307

# 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [194]:
query = """SELECT [capital-gain] ,[capital-loss], ([capital-gain] - [capital-loss]) as 'Net-Capital-Gain' FROM adultDf WHERE [Net-Capital-Gain] !=0 """
pysqldf(query)

      capital-gain  capital-loss  Net-Capital-Gain
0            14084             0             14084
1             5178             0              5178
2                0          2042             -2042
3                0          1408             -1408
4                0          1902             -1902
5             5013             0              5013
6             2407             0              2407
7            14344             0             14344
8                0          1573             -1573
9                0          1902             -1902
10           15024             0             15024
11            7688             0              7688
12           34095             0             34095
13               0          1887             -1887
14            4064             0              4064
15               0          1719             -1719
16               0          1762             -1762
17            4386             0              4386
18               0          1564             -1564
19               0          2179             -2179
20               0          1816             -1816
21               0          1980             -1980
22               0          1977             -1977
23           14084             0             14084
24            7298             0              7298
25               0          1876             -1876
26               0          1340             -1340
27            7298             0              7298
28           15024             0             15024
29               0          2206             -2206
...            ...           ...               ...
4200             0          1902             -1902
4201             0          2042             -2042
4202             0          1411             -1411
4203             0          1977             -1977
4204          3103             0              3103
4205             0          2559             -2559
4206         15831             0             15831
4207          6849             0              6849
4208         15024             0             15024
4209          2653             0              2653
4210         27828             0             27828
4211          1471             0              1471
4212             0          1741             -1741
4213          7298             0              7298
4214             0          1887             -1887
4215             0          1902             -1902
4216          7443             0              7443
4217             0          1887             -1887
4218             0          1602             -1602
4219             0          1669             -1669
4220             0          1977             -1977
4221          7298             0              7298
4222         15024             0             15024
4223          1506             0              1506
4224             0           880              -880
4225          3471             0              3471
4226         99999             0             99999
4227         15020             0             15020
4228          1086             0              1086
4229         15024             0             15024

[4230 rows x 3 columns]

# Problem statement 2:
Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

# 1. Create an sqlalchemy engine using a sample from the data set

In [12]:
import sqlalchemy as db
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", delimiter=',')
# Add column headers
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'label']

In [49]:
# 1. Create sqlalchemy Engine
engine = db.create_engine('sqlite:///mydb1', echo =False)

# Create table using dataframe and engine-- load data
df.to_sql('Adult', engine, if_exists='replace', chunksize=1000)

# 2. Write two basic update queries

In [24]:
# Print to see the existing values
result = engine.execute("SELECT fnlwgt, education,age FROM Adult WHERE age = 39").fetchall()
print("{l} records found".format(l=len(result)))
print(result)
print("\n")

815 records found

In [29]:
#two basic update quries
#update adult table recordes of ecduation values to Technical where age is 39
engine.execute("UPDATE Adult set education = 'Technical' WHERE age = 39")

#update adult table of fnlwgt columns values to 0 where age  = 39
engine.execute("UPDATE Adult set fnlwgt = 0 WHERE age = 39")

In [31]:
#Checking Reslut below: Updated education and fnlwgt column values.
result = engine.execute("SELECT fnlwgt, education,age FROM Adult WHERE age = 39").fetchall()
print("{l} records found".format(l=len(result)))
print(result)
print("\n")

815 records found
[(0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39)]

# 3. Write two delete queries

In [32]:
#Delete queries to delete records where age is 39 and fnlwgt is 128392
engine.execute("DELETE FROM Adult WHERE age = 39")
engine.execute("DELETE FROM Adult WHERE fnlwgt = 128392")

In [33]:
#After delete 0 records exists
result = engine.execute("SELECT fnlwgt, education,age FROM Adult WHERE age = 39").fetchall()
print("{l} records found".format(l=len(result)))
print(result)
print("\n")

0 records found
[]

# 4. Write two filter queries

In [46]:
#Adult table rcoreds filterd based  age value equals 50 and education value equals to Bachelorsb
result = engine.execute("SELECT fnlwgt, education,age FROM Adult WHERE age = {age}".format(age=50)).fetchall()
result1 = engine.execute("SELECT fnlwgt, education FROM Adult WHERE education = '{edu}'".format(edu="Bachelors")).fetchall()

In [47]:
print(result)
print('\n')
print(result1)

[(83311, ' Bachelors', 50), (251585, ' Bachelors', 50), (313321, ' Assoc-acdm', 50), (204518, ' 7th-8th', 50), (30653, ' Masters', 50), (176609, ' Some-college', 50), (193884, ' 7th-8th', 50), (288353, ' Bachelors', 50), (193374, ' 1st-4th', 50), (196232, ' HS-grad', 50), (114117, ' HS-grad', 50), (195322, ' Doctorate', 50), (219420, ' HS-grad', 50), (50459, ' HS-grad', 50), (23780, ' Masters', 50), (124793, ' HS-grad', 50), (168212, ' Doctorate', 50), (767403, ' HS-grad', 50), (293196, ' HS-grad', 50), (133963, ' Bachelors', 50), (157043, ' 11th', 50), (356619, ' HS-grad', 50), (146015, ' HS-grad', 50), (75472, ' HS-grad', 50), (358740, ' HS-grad', 50), (343748, ' Some-college', 50), (88926, ' HS-grad', 50), (421132, ' HS-grad', 50), (137815, ' HS-grad', 50), (113176, ' HS-grad', 50), (175339, ' HS-grad', 50), (30447, ' Assoc-voc', 50), (73493, ' Some-college', 50), (21095, ' Some-college', 50), (160151, ' Some-college', 50), (140592, ' HS-grad', 50), (196963, ' 7th-8th', 50), (171338, ' Some-college', 50), (159670, ' HS-grad', 50), (211319, ' Masters', 50), (156008, ' 11th', 50), (159219, ' Bachelors', 50), (147629, ' Masters', 50), (112351, ' HS-grad', 50), (176924, ' 10th', 50), (156877, ' 11th', 50), (137253, ' Bachelors', 50), (181139, ' Some-college', 50), (20179, ' Masters', 50), (88842, ' Bachelors', 50), (221336, ' HS-grad', 50), (273536, ' 7th-8th', 50), (174752, ' HS-grad', 50), (92079, ' Some-college', 50), (237735, ' 5th-6th', 50), (121685, ' Some-college', 50), (177705, ' Some-college', 50), (125417, ' Prof-school', 50), (100029, ' Bachelors', 50), (391016, ' Bachelors', 50), (198103, ' Bachelors', 50), (363405, ' Bachelors', 50), (93690, ' HS-grad', 50), (44368, ' HS-grad', 50), (170050, ' 7th-8th', 50), (400004, ' Some-college', 50), (217083, ' HS-grad', 50), (229272, ' HS-grad', 50), (176969, ' HS-grad', 50), (116287, ' Assoc-acdm', 50), (386397, ' Bachelors', 50), (139464, ' Bachelors', 50), (163708, ' HS-grad', 50), (156623, ' Prof-school', 50), (174964, ' 10th', 50), (144968, ' HS-grad', 50), (169182, ' HS-grad', 50), (36489, ' Some-college', 50), (146603, ' Prof-school', 50), (103063, ' Bachelors', 50), (125417, ' Assoc-acdm', 50), (162632, ' HS-grad', 50), (174855, ' HS-grad', 50), (22428, ' Masters', 50), (184424, ' Some-college', 50), (175456, ' HS-grad', 50), (71417, ' HS-grad', 50), (186888, ' HS-grad', 50), (207367, ' Some-college', 50), (202296, ' Assoc-voc', 50), (343847, ' HS-grad', 50), (127315, ' Bachelors', 50), (117791, ' HS-grad', 50), (128378, ' 5th-6th', 50), (96586, ' Assoc-voc', 50), (69345, ' Assoc-voc', 50), (123429, ' Some-college', 50), (196193, ' Masters', 50), (86373, ' HS-grad', 50), (100109, ' Bachelors', 50), (178530, ' Prof-school', 50), (182360, ' HS-grad', 50), (95469, ' HS-grad', 50), (138358, ' Some-college', 50), (279129, ' Bachelors', 50), (145166, ' Masters', 50), (370733, ' HS-grad', 50), (105010, ' HS-grad', 50), (321822, ' Prof-school', 50), (324506, ' HS-grad', 50), (140516, ' HS-grad', 50), (173224, ' Masters', 50), (400630, ' Prof-school', 50), (133963, ' HS-grad', 50), (44368, ' Some-college', 50), (287598, ' Some-college', 50), (121038, ' Assoc-voc', 50), (69345, ' Assoc-acdm', 50), (92969, ' 1st-4th', 50), (144361, ' HS-grad', 50), (378747, ' HS-grad', 50), (36480, ' 10th', 50), (200618, ' Assoc-acdm', 50), (170562, ' Assoc-acdm', 50), (110748, ' Some-college', 50), (305319, ' 7th-8th', 50), (195298, ' Some-college', 50), (159650, ' Some-college', 50), (69614, ' 10th', 50), (198400, ' HS-grad', 50), (104729, ' HS-grad', 50), (133963, ' Bachelors', 50), (348099, ' 10th', 50), (192982, ' HS-grad', 50), (166419, ' 11th', 50), (210217, ' Bachelors', 50), (136913, ' HS-grad', 50), (204838, ' HS-grad', 50), (285200, ' Some-college', 50), (148953, ' HS-grad', 50), (183611, ' Some-college', 50), (22418, ' 9th', 50), (116211, ' Prof-school', 50), (119099, ' Some-college', 50), (57758, ' Assoc-voc', 50), (172046, ' Some-college', 50), (24013, ' Some-college', 50), (108435, ' Masters', 50), (183390, ' Bachelors', 50), (180522, ' Some-college', 50), (144361, ' HS-grad', 50), (34832, ' Bachelors', 50), (142073, ' HS-grad', 50), (320510, ' Bachelors', 50), (162327, ' Bachelors', 50), (30682, ' Masters', 50), (258819, ' HS-grad', 50), (150941, ' HS-grad', 50), (30008, ' Bachelors', 50), (154779, ' Some-college', 50), (120914, ' 11th', 50), (209464, ' HS-grad', 50), (172942, ' Some-college', 50), (34233, ' HS-grad', 50), (204447, ' Some-college', 50), (176751, ' Masters', 50), (199995, ' Bachelors', 50), (97449, ' Some-college', 50), (237729, ' HS-grad', 50), (92968, ' Bachelors', 50), (136836, ' HS-grad', 50), (211654, ' 10th', 50), (259377, ' Masters', 50), (225772, ' Doctorate', 50), (307392, ' Masters', 50), (149770, ' Masters', 50), (166758, ' Some-college', 50), (304260, ' Assoc-acdm', 50), (112873, ' Bachelors', 50), (37913, ' Bachelors', 50), (242517, ' Bachelors', 50), (158284, ' Some-college', 50), (168539, ' HS-grad', 50), (72351, ' Bachelors', 50), (173020, ' Some-college', 50), (158294, ' Assoc-voc', 50), (162632, ' HS-grad', 50), (99392, ' Some-college', 50), (167380, ' 7th-8th', 50), (337606, ' HS-grad', 50), (121411, ' 12th', 50), (202044, ' Bachelors', 50), (135643, ' HS-grad', 50), (118058, ' Some-college', 50), (165001, ' Bachelors', 50), (254148, ' Some-college', 50), (77905, ' Bachelors', 50), (312477, ' HS-grad', 50), (189811, ' Bachelors', 50), (260579, ' HS-grad', 50), (98350, ' Some-college', 50), (307555, ' Bachelors', 50), (279337, ' Bachelors', 50), (98228, ' HS-grad', 50), (128478, ' HS-grad', 50), (177487, ' HS-grad', 50), (140741, ' 11th', 50), (20795, ' Some-college', 50), (127151, ' Masters', 50), (311551, ' Masters', 50), (95577, ' HS-grad', 50), (155594, ' Assoc-acdm', 50), (346014, ' 7th-8th', 50), (220640, ' Masters', 50), (237819, ' HS-grad', 50), (89041, ' HS-grad', 50), (289207, ' Doctorate', 50), (40623, ' Some-college', 50), (114758, ' Bachelors', 50), (155118, ' HS-grad', 50), (27484, ' HS-grad', 50), (221532, ' Assoc-acdm', 50), (160724, ' Masters', 50), (196975, ' HS-grad', 50), (138179, ' Assoc-acdm', 50), (172052, ' HS-grad', 50), (50178, ' Some-college', 50), (152810, ' Bachelors', 50), (222020, ' HS-grad', 50), (231495, ' HS-grad', 50), (32372, ' HS-grad', 50), (209320, ' Bachelors', 50), (175804, ' HS-grad', 50), (176867, ' Doctorate', 50), (165050, ' 10th', 50), (283281, ' 7th-8th', 50), (24647, ' Some-college', 50), (274528, ' Some-college', 50), (219420, ' Doctorate', 50), (168672, ' Masters', 50), (173754, ' HS-grad', 50), (108926, ' Some-college', 50), (238959, ' Bachelors', 50), (35224, ' HS-grad', 50), (87263, ' HS-grad', 50), (150999, ' Masters', 50), (130780, ' HS-grad', 50), (205803, ' Masters', 50), (114056, ' Assoc-voc', 50), (185846, ' HS-grad', 50), (63000, ' Some-college', 50), (177896, ' HS-grad', 50), (189107, ' HS-grad', 50), (203098, ' Bachelors', 50), (200783, ' 7th-8th', 50), (169925, ' HS-grad', 50), (104849, ' Prof-school', 50), (109277, ' 9th', 50), (118565, ' 11th', 50), (133963, ' Bachelors', 50), (204402, ' HS-grad', 50), (192203, ' 11th', 50), (153931, ' HS-grad', 50), (96657, ' Bachelors', 50), (185354, ' Masters', 50), (221791, ' Assoc-acdm', 50), (138022, ' Some-college', 50), (398625, ' 11th', 50), (129673, ' Bachelors', 50), (120190, ' Masters', 50), (24185, ' Bachelors', 50), (338283, ' Some-college', 50), (99307, ' HS-grad', 50), (124076, ' Bachelors', 50), (189183, ' HS-grad', 50), (192654, ' 10th', 50), (240374, ' Masters', 50), (186272, ' Some-college', 50), (299831, ' Some-college', 50), (124963, ' Bachelors', 50), (172511, ' Some-college', 50), (211319, ' Bachelors', 50), (124094, ' HS-grad', 50), (248619, ' HS-grad', 50), (54261, ' HS-grad', 50), (305147, ' Bachelors', 50), (193871, ' Bachelors', 50), (166220, ' Assoc-acdm', 50), (31621, ' HS-grad', 50), (93705, ' Some-college', 50), (150876, ' HS-grad', 50), (198581, ' Prof-school', 50), (283676, ' Some-college', 50), (171225, ' Bachelors', 50), (220019, ' Masters', 50), (166565, ' HS-grad', 50), (143664, ' Bachelors', 50), (158294, ' Prof-school', 50), (186565, ' Bachelors', 50), (113290, ' HS-grad', 50), (123429, ' Bachelors', 50), (266529, ' 11th', 50), (231196, ' Bachelors', 50), (200960, ' Some-college', 50), (138514, ' Some-college', 50), (104501, ' Masters', 50), (215990, ' HS-grad', 50), (158948, ' 7th-8th', 50), (226735, ' Some-college', 50), (105010, ' Bachelors', 50), (297906, ' Some-college', 50), (228057, ' HS-grad', 50), (198681, ' Some-college', 50), (172175, ' Prof-school', 50), (98975, ' Bachelors', 50), (256861, ' HS-grad', 50), (139296, ' 11th', 50), (44116, ' HS-grad', 50), (36489, ' 10th', 50), (98980, ' Bachelors', 50), (50178, ' HS-grad', 50), (321770, ' HS-grad', 50), (281504, ' Some-college', 50), (275181, ' 5th-6th', 50), (191062, ' HS-grad', 50), (233369, ' Some-college', 50), (195844, ' Assoc-acdm', 50), (163998, ' Bachelors', 50), (191299, ' HS-grad', 50), (173630, ' HS-grad', 50), (143953, ' HS-grad', 50), (173630, ' HS-grad', 50), (145333, ' Doctorate', 50), (166565, ' HS-grad', 50), (120781, ' Bachelors', 50), (271160, ' Some-college', 50), (132716, ' Some-college', 50), (289390, ' HS-grad', 50), (187830, ' Bachelors', 50), (226497, ' Some-college', 50), (221336, ' Some-college', 50), (238959, ' Some-college', 50), (94391, ' Assoc-voc', 50), (153064, ' HS-grad', 50), (133014, ' Assoc-voc', 50), (287927, ' HS-grad', 50), (237868, ' Masters', 50), (425804, ' Bachelors', 50), (341797, ' Prof-school', 50), (163948, ' HS-grad', 50), (234037, ' HS-grad', 50), (31014, ' HS-grad', 50), (162327, ' Some-college', 50), (117496, ' HS-grad', 50), (174102, ' HS-grad', 50), (204447, ' Masters', 50), (33304, ' HS-grad', 50), (180607, ' HS-grad', 50), (302708, ' Bachelors', 50), (177705, ' Bachelors', 50), (68898, ' Masters', 50), (98215, ' HS-grad', 50), (183173, ' HS-grad', 50), (191130, ' Assoc-voc', 50), (65160, ' Bachelors', 50), (38310, ' 7th-8th', 50), (64667, ' HS-grad', 50), (410186, ' HS-grad', 50), (30731, ' Assoc-voc', 50), (175070, ' Prof-school', 50), (138852, ' Masters', 50), (190762, ' 5th-6th', 50), (234373, ' Masters', 50), (48358, ' HS-grad', 50), (207246, ' Some-college', 50), (108446, ' Some-college', 50), (185846, ' HS-grad', 50), (145409, ' Bachelors', 50), (128478, ' HS-grad', 50), (158680, ' Masters', 50), (161438, ' HS-grad', 50), (107265, ' HS-grad', 50), (146310, ' 9th', 50), (188186, ' Masters', 50), (92486, ' Some-college', 50), (161075, ' HS-grad', 50), (78649, ' Some-college', 50), (89534, ' HS-grad', 50), (171924, ' Bachelors', 50), (341797, ' HS-grad', 50), (71898, ' 5th-6th', 50), (157043, ' Masters', 50), (46401, ' Bachelors', 50), (124963, ' HS-grad', 50), (163002, ' HS-grad', 50), (240496, ' Some-college', 50), (126566, ' HS-grad', 50), (97741, ' HS-grad', 50), (172175, ' Prof-school', 50), (401118, ' HS-grad', 50), (141875, ' HS-grad', 50), (168212, ' Masters', 50), (172281, ' HS-grad', 50), (164198, ' Assoc-acdm', 50), (145409, ' HS-grad', 50), (55527, ' Assoc-acdm', 50), (197054, ' Prof-school', 50), (81548, ' HS-grad', 50), (194514, ' Masters', 50), (240612, ' Bachelors', 50), (24790, ' HS-grad', 50), (217577, ' HS-grad', 50), (306707, ' HS-grad', 50), (43764, ' Doctorate', 50), (195784, ' 12th', 50), (339547, ' Prof-school', 50), (163921, ' 7th-8th', 50), (266945, ' HS-grad', 50), (95949, ' Bachelors', 50), (194231, ' Masters', 50), (67794, ' HS-grad', 50), (257126, ' HS-grad', 50), (145717, ' HS-grad', 50), (197322, ' 11th', 50), (160572, ' HS-grad', 50), (194186, ' HS-grad', 50), (29231, ' HS-grad', 50), (45961, ' Bachelors', 50), (167065, ' Bachelors', 50), (283676, ' Some-college', 50), (128143, ' Bachelors', 50), (156951, ' Assoc-acdm', 50), (163948, ' Masters', 50), (196307, ' Some-college', 50), (138358, ' 10th', 50), (151580, ' Assoc-acdm', 50), (163921, ' HS-grad', 50), (206862, ' Masters', 50), (128798, ' Bachelors', 50), (145419, ' Masters', 50), (167886, ' Some-college', 50), (123044, ' Masters', 50), (212685, ' HS-grad', 50), (99925, ' HS-grad', 50), (218382, ' Some-college', 50), (132716, ' Prof-school', 50), (174655, ' Some-college', 50), (192964, ' HS-grad', 50), (94885, ' Bachelors', 50), (279461, ' Some-college', 50), (167793, ' Prof-school', 50), (23686, ' Some-college', 50), (320386, ' Assoc-acdm', 50), (280278, ' HS-grad', 50), (191025, ' Masters', 50), (185407, ' Assoc-voc', 50), (96062, ' HS-grad', 50), (104501, ' HS-grad', 50), (74879, ' HS-grad', 50), (283676, ' Doctorate', 50), (201689, ' 7th-8th', 50), (65408, ' HS-grad', 50), (268553, ' HS-grad', 50), (240612, ' HS-grad', 50), (304955, ' Bachelors', 50), (36480, ' HS-grad', 50), (20795, ' HS-grad', 50), (140516, ' Bachelors', 50), (169646, ' Bachelors', 50), (160107, ' Masters', 50), (257117, ' 9th', 50), (184007, ' Some-college', 50), (116933, ' HS-grad', 50), (93730, ' 10th', 50), (32801, ' Bachelors', 50), (178596, ' HS-grad', 50), (338033, ' Some-college', 50), (167728, ' Doctorate', 50), (276241, ' Bachelors', 50), (138270, ' HS-grad', 50), (558490, ' HS-grad', 50), (297551, ' HS-grad', 50), (198362, ' Assoc-voc', 50), (171852, ' Bachelors', 50), (134766, ' Bachelors', 50), (100480, ' Masters', 50), (339954, ' Assoc-voc', 50), (117295, ' 10th', 50), (129956, ' HS-grad', 50), (213290, ' Assoc-voc', 50), (24139, ' Masters', 50), (155574, ' Masters', 50), (95435, ' 7th-8th', 50), (211116, ' 10th', 50), (196504, ' Doctorate', 50), (270194, ' Bachelors', 50), (222020, ' HS-grad', 50), (97778, ' HS-grad', 50), (135339, ' 12th', 50), (306790, ' Some-college', 50), (146429, ' HS-grad', 50), (27539, ' Some-college', 50), (171199, ' 11th', 50), (164127, ' HS-grad', 50), (222381, ' Some-college', 50), (104501, ' HS-grad', 50), (163671, ' HS-grad', 50), (195638, ' 10th', 50), (177927, ' HS-grad', 50), (548361, ' Bachelors', 50), (126592, ' HS-grad', 50), (183638, ' HS-grad', 50), (128143, ' Bachelors', 50), (301583, ' HS-grad', 50), (196193, ' Bachelors', 50), (462966, ' 10th', 50), (108933, ' 9th', 50), (269095, ' Bachelors', 50), (172970, ' HS-grad', 50), (42402, ' Prof-school', 50), (99894, ' 5th-6th', 50), (183915, ' Bachelors', 50), (150975, ' HS-grad', 50), (138852, ' Some-college', 50), (271262, ' HS-grad', 50), (132716, ' HS-grad', 50), (182907, ' HS-grad', 50), (269095, ' HS-grad', 50), (334273, ' Bachelors', 50), (343014, ' Some-college', 50), (94081, ' HS-grad', 50), (213296, ' Some-college', 50), (213654, ' HS-grad', 50), (146325, ' HS-grad', 50), (251240, ' Masters', 50), (176227, ' Bachelors', 50), (204577, ' Bachelors', 50), (313546, ' HS-grad', 50), (123174, ' Doctorate', 50), (226497, ' Some-college', 50), (109277, ' HS-grad', 50), (124793, ' Some-college', 50), (22211, ' Masters', 50), (175339, ' HS-grad', 50), (46155, ' Assoc-voc', 50), (154728, ' Some-college', 50), (156606, ' Some-college', 50), (234143, ' Masters', 50), (54709, ' HS-grad', 50), (155574, ' HS-grad', 50), (135465, ' Bachelors', 50), (41890, ' HS-grad', 50), (339905, ' Some-college', 50), (89737, ' Some-college', 50), (190333, ' Prof-school', 50), (175804, ' Bachelors', 50), (201513, ' HS-grad', 50), (152810, ' Some-college', 50), (371305, ' HS-grad', 50), (131982, ' HS-grad', 50), (205100, ' 7th-8th', 50), (308764, ' HS-grad', 50), (230951, ' Bachelors', 50), (234657, ' Some-college', 50), (238187, ' Bachelors', 50), (175029, ' HS-grad', 50), (187830, ' Masters', 50), (143730, ' Bachelors', 50), (34067, ' Assoc-voc', 50), (101094, ' Masters', 50), (263200, ' 5th-6th', 50), (28952, ' Some-college', 50), (228238, ' HS-grad', 50), (128814, ' HS-grad', 50), (74660, ' Some-college', 50), (111700, ' Masters', 50), (421561, ' Some-college', 50), (231725, ' HS-grad', 50), (201882, ' Masters', 50), (102346, ' Bachelors', 50), (344621, ' HS-grad', 50), (176157, ' Masters', 50), (107665, ' Some-college', 50), (102615, ' HS-grad', 50), (117496, ' Bachelors', 50), (301024, ' Bachelors', 50), (52565, ' Some-college', 50), (310774, ' Bachelors', 50), (99476, ' Masters', 50), (139703, ' Some-college', 50), (187465, ' 11th', 50), (121441, ' 11th', 50), (240922, ' Assoc-acdm', 50), (195690, ' HS-grad', 50), (177896, ' Doctorate', 50), (38795, ' Bachelors', 50), (92811, ' Bachelors', 50), (278188, ' HS-grad', 50), (257933, ' Some-college', 50), (485710, ' Doctorate', 50), (208630, ' Masters', 50), (302372, ' Bachelors', 50)]


[]

# 5. Write two function queries

In [48]:

# Define functions
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# Create a new table with Column named "Value"
engine.execute('CREATE TABLE IF NOT EXISTS Fib (value INTEGER)')
engine.execute('INSERT INTO Fib VALUES (?)',[(str(x),) for x in fib(10)])
print(engine.execute("SELECT * FROM Fib").fetchall())

[(0,), (1,), (1,), (2,), (3,), (5,), (8,), (13,), (21,), (34,)]